{
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 90,
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	],
	"semi": false,
	"useTabs": true,
	"bracketSpacing": true,
	"insertPragma": true
}
